name: Publish

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        project:
          - MGH.Core.Application
          - MGH.Core.CrossCutting
          - MGH.Core.CrossCutting.Logging
          - MGH.Core.Domain
          - MGH.Core.Endpoint.Web
          - MGH.Core.Infrastructure
          - MGH.Core.Infrastructure.Caching
          - MGH.Core.Infrastructure.ElasticSearch
          - MGH.Core.Infrastructure.EventBus
          - MGH.Core.Infrastructure.EventBus.RabbitMq
          - MGH.Core.Infrastructure.HttpClient
          - MGH.Core.Infrastructure.Persistence
          - MGH.Core.Infrastructure.Persistence.Dapper
          - MGH.Core.Infrastructure.Persistence.EF
          - MGH.Core.Infrastructure.Securities

    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-dotnet@v3
        with:
          dotnet-version: '10.0.x'

      - name: Restore project
        run: dotnet restore src/${{ matrix.project }}/${{ matrix.project }}.csproj

      - name: Build project
        run: dotnet build src/${{ matrix.project }}/${{ matrix.project }}.csproj --configuration Release --no-restore

      - name: Pack project
        run: dotnet pack src/${{ matrix.project }}/${{ matrix.project }}.csproj --configuration Release --no-restore --output ./nugetPackages

      - name: Publish package
        run: dotnet nuget push "./nugetPackages/*.nupkg" -k ${{ secrets.NUGET }} -s https://api.nuget.org/v3/index.json --skip-duplicate
